.auth {
}

.auth__inner {
  padding: 20px 15px 0 15px;
}
.auth__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
.auth__img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.auth__inputGroup {
  width: 100%;
  margin-bottom: 20px;
}
.auth__label {
  font-size: 14px;
}
.auth__input {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
}

.auth__input_error {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid red;
}

input:active {
  border: 1px solid #ff6f03;
}

input:focus {
  border: 1px solid #ff6f03;
}

input:valid {
  border: 1px solid #15803d;
}
.auth__button {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #ff6f03;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 20px;
}
.auth__link {
  font-size: 14px;
}

.auth__swap {
  color: #ff6f03;
  margin-left: 5px;
}
