.profile {
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.info{
    font-size: 14px;
    margin: 20px;
    text-align: center;
    color: #899bb5;
}

.profileEnterActive {
    opacity: 1;
    transition: all .2s;
}
.profileEnterDone {
    opacity: 1;
}
.profileExit {
    opacity: 1;
}
.profileExitActive {
    opacity: 0;
    transition: all .2s;
}