.profile {
    opacity: 0;
}

.profileEnterActive {
    opacity: 1;
    transition: all .2s;
}
.profileEnterDone {
    opacity: 1;
}
.profileExit {
    opacity: 1;
}
.profileExitActive {
    opacity: 0;
    transition: all .2s;
}