.card-stack {
  width: 300px;
  height: 400px;
  margin: 50px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 85%;
  background: rgb(11, 136, 186);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  position: absolute;
  touch-action: none;
  user-select: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.swipe__btn {
  padding: 10px 20px;
  font-size: 16px;
  background: #506eec;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.swipe__btn:hover {
  background: #405ad6;
}

